
// COLORS
$bg-color: antiquewhite;
$primary-color: rgb(172, 172, 214);
$white-color: white;
$alert-color: rgb(129, 18, 18);
$success-color: rgb(56, 159, 56);
$normal-color: blue;


// TYPOGRPAHY
$base-font-size: 1rem;
$base-font-family-sans-serif: 'Gill Sans', sans-serif;
$base-font-family-serif: 'Times New Roman', Times, serif;

// MARGINS AND PADDINGS
$base-padding: 1rem;

$base-border-radius: .75rem;
$small-border-radius: calc($base-border-radius / 2);
$large-border-radius: calc($base-border-radius * 2);