* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background-color: antiquewhite;
  font-family: "Gill Sans", sans-serif;
  width: 100%;
  height: 100dvh;
}

.btn-alert {
  padding: 1rem;
  font-size: 0.9rem;
  font-family: "Gill Sans", sans-serif;
  background-color: rgb(129, 18, 18);
  border-radius: 0.75rem;
  border: none;
  color: white;
  font-weight: 600;
}

.btn-success {
  padding: 1rem;
  font-size: 0.9rem;
  font-family: "Gill Sans", sans-serif;
  background-color: rgb(56, 159, 56);
  border-radius: 1.5rem;
  border: none;
  color: white;
  font-weight: 600;
}

.btn-normal {
  padding: 1rem;
  font-size: 0.9rem;
  font-family: "Gill Sans", sans-serif;
  background-color: rgb(61, 61, 165);
  border-radius: 0.75rem;
  border: none;
  color: white;
  font-weight: 600;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}
.card h2 {
  color: brown;
}
.card h2 span {
  color: blue;
}
.card p {
  font-size: 0.825rem;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  font-family: "Times New Roman", Times, serif;
}

.hero-banner-portofino {
  background-image: url("https://images.unsplash.com/photo-1549893072-4bc678117f45?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5%;
}
.hero-banner-portofino .hero-banner-content {
  padding: 2rem;
  width: 40dvw;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0.75rem;
}
.hero-banner-portofino .hero-banner-content h1 {
  font-size: clamp(2rem, 5vw, 8rem);
}
.hero-banner-portofino .hero-banner-content h3 {
  font-size: 2.5vw;
  margin-bottom: 1.5rem;
}

.hero-banner-pisa {
  background-image: url("https://images.unsplash.com/photo-1591452193195-ac4a41416c5f?q=80&w=3269&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 65dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5%;
}
.hero-banner-pisa .hero-banner-content {
  padding: 2rem;
  width: 40dvw;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0;
}
.hero-banner-pisa .hero-banner-content h1 {
  font-size: clamp(2rem, 5vw, 8rem);
}
.hero-banner-pisa .hero-banner-content h3 {
  font-size: 2.5vw;
  margin-bottom: 1.5rem;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(172, 172, 214);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main-header h1 {
  color: rgb(129, 18, 18);
}
#main-header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}
#main-header nav ul li {
  text-transform: uppercase;
}
#main-header nav ul li.active {
  background-color: rgb(129, 18, 18);
  border-radius: 0.75rem;
  padding: 0.5rem;
}
#main-header nav ul li.active a {
  color: white;
}
#main-header nav ul li a {
  text-decoration: none;
  color: rgb(129, 18, 18);
  letter-spacing: 1px;
}
#main-header nav ul li a:hover {
  color: rgb(56, 159, 56);
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(172, 172, 214);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */