@mixin button($-bgcolor, $-borderradius) {
  padding: $base-padding;
  font-size: calc($base-font-size * 0.9);
  font-family: $base-font-family-sans-serif;
  background-color: $-bgcolor;
  border-radius: $-borderradius;
  border: none;
  color: $white-color;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    // background-color: lighten($-bgcolor, 10%);
    background-color: darken($-bgcolor, 10%);
  }
}

.btn-alert {
  @include button($alert-color, $base-border-radius);
}

.btn-success {
  @include button($success-color, $large-border-radius)
}

.btn-normal {
  @include button($normal-color, $base-border-radius)
}